<ng-include src="'include/menu.html'"></ng-include>

<ng-include src="'include/header.html'"></ng-include>

<ng-include src="'include/status.html'"></ng-include>

<div class="container" ng-show="status.success==''&&status.error==''">
    <div class="row">
        <div class="col">

            <form name="editForm" novalidate>
                <div class="form-group row">
                    <label for="inputId" class="col-sm-2 col-form-label">Id: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="entity.id"
                            disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputFecha" class="col-sm-2 col-form-label">Fecha: </label>
                    <div class="col-sm-3">
                        <md-datepicker name="inputFecha"
                            ng-class="{ 'is-valid' : editForm.inputFecha.$valid && editForm.inputFecha.$dirty, 'is-invalid' : editForm.inputFecha.$invalid && editForm.inputFecha.$dirty}"
                            type="text" class="form-control" md-placeholder="Enter date" ng-model="fecha"
                            
                            maxlenth="19" required/></md-datepicker>
                        <div ng-show="editForm.inputFecha.$error.pattern" class="invalid-feedback">
                            Error en la fecha
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputIva" class="col-sm-2 col-form-label">Iva: </label>
                    <div class="col-sm-10">
                        <input name="inputIva"
                            ng-class="{ 'is-valid' : editForm.inputIva.$valid && editForm.inputIva.$dirty, 'is-invalid' : editForm.inputIva.$invalid && editForm.inputIva.$dirty}"
                            type="text" class="form-control" placeholder="Iva" ng-model="entity.iva"
                            ng-pattern="/^[0-9]$|^[1-9][0-9]$|^(100)$/" required>
                        <div ng-show="editForm.inputIva.$invalid" class="invalid-feedback">
                            Por favor introduzca un valor de Iva correcto. Puedes usar un número entre 0 y 100.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputIdUsuario" class="col-sm-2 col-form-label">Id Usuario: </label>
                    <div class="col-sm-10">
                        <input name="inputIdUsuario"
                            ng-class="{ 'is-valid' : editForm.inputIdUsuario.$valid && editForm.inputIdUsuario.$dirty, 'is-invalid' : editForm.inputIdUsuario.$invalid && editForm.inputIdUsuario.$dirty}"
                            type="text" class="form-control" placeholder="Id Usuario" ng-model="entity.id_usuario"
                            ng-pattern="/^[0-9]+$/" maxlength="18" required>
                        <div ng-show="editForm.inputIdUsuario.$invalid" class="invalid-feedback">
                            Por favor introduzca un número positivo. Límite de 18 caracteres.
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="checkboxPagado" class="col-sm-2 col-form-label">Pagado: </label>
                    <div class="col-sm-10">
                        <input name="checkboxPagado" type="checkbox" class="form-control" ng-model="entity.pagado">
                    </div>
                </div>

                <div class="form-group row text-right">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="editForm.$invalid||editForm.$pristine" ng-click="save()">Guardar</button>
                        <a type="button" class="btn btn-primary" href="home">Ir a home</a>
                        <button type="button" class="btn btn-primary" ng-click="back()">
                            Volver
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-include src="'include/footer.html'"></ng-include>