<ng-include src="'include/menu.html'"></ng-include>

<ng-include src="'include/header.html'"></ng-include>

<ng-include src="'include/status.html'"></ng-include>

<div class="container" ng-show="status.success==''&&status.error==''">
    <div class="row">
        <div class="col">

            <form name="editForm" novalidate>
                <div class="form-group row">
                    <label for="inputId" class="col-sm-2 col-form-label">Id: </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="entity.id"
                            disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputCantidad" class="col-sm-2 col-form-label">Cantidad: </label>
                    <div class="col-sm-2">
                        <input name="inputCantidad"
                            ng-class="{ 'is-valid' : editForm.inputCantidad.$valid && editForm.inputCantidad.$dirty , 'is-invalid' : editForm.inputCantidad.$invalid && editForm.inputCantidad.$dirty}"
                            type="text" class="form-control" id="inputCantidad" placeholder="Cantidad"
                            ng-model="entity.cantidad" ng-minlength="1" maxlength="4" ng-pattern="/^[1-9][0-9]*$/"
                            required>
                        <div ng-show="editForm.inputCantidad.$invalid" class="invalid-feedback">
                            Por favor introduce un valor entero de 1 a 4 digitos. </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPrecio" class="col-sm-2 col-form-label">Precio: </label>
                    <div class="col-sm-2">
                        <input name="inputPrecio"
                            ng-class="{ 'is-valid' : editForm.inputPrecio.$valid && editForm.inputPrecio.$dirty , 'is-invalid' : editForm.inputPrecio.$invalid && editForm.inputPrecio.$dirty}"
                            type="text" class="form-control" id="inputPrecio" placeholder="Precio"
                            ng-model="entity.precio" ng-pattern="/^([1-9][0-9]{0,4})?(0?\.[0-9]{1,2})?$/" required>
                        <div ng-show="editForm.inputPrecio.$invalid" class="invalid-feedback">
                            Introduce un precio hasta 10000€. Máximo 2 decimales . </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputFecha" class="col-sm-2 col-form-label">Fecha: </label>
                    <div class="col-sm-3">
                        <md-datepicker id="inputFecha" ng-model="fecha" md-placeholder="Enter date" name="fecha">
                        </md-datepicker>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputDescuentoUser" class="col-sm-2 col-form-label">Descuento usuario: </label>
                    <div class="col-sm-2">
                        <input name="inputDescuentoUser"
                            ng-class="{ 'is-valid' : editForm.inputDescuentoUser.$valid && editForm.inputDescuentoUser.$dirty , 'is-invalid' : editForm.inputDescuentoUser.$invalid && editForm.inputDescuentoUser.$dirty}"
                            type="text" class="form-control" id="inputDescuentoUser" placeholder="Descuento usuario"
                            ng-model="entity.descuento_usuario" ng-pattern="/^[0-9]$|^[1-9][0-9]$|^(100)$/" required>
                        <div ng-show="editForm.inputDescuentoUser.$invalid" class="invalid-feedback">
                            Por favor introduce un número entero válido. Puede ser entre 0 y 100. </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputDescuentoProducto" class="col-sm-2 col-form-label">Descuento producto: </label>
                    <div class="col-sm-2">
                        <input name="inputDescuentoProducto"
                            ng-class="{ 'is-valid' : editForm.inputDescuentoProducto.$valid && editForm.inputDescuentoProducto.$dirty , 'is-invalid' : editForm.inputDescuentoProducto.$invalid && editForm.inputDescuentoProducto.$dirty}"
                            type="text" class="form-control" id="inputDescuentoProducto"
                            placeholder="Descuento producto" ng-model="entity.descuento_producto"
                            ng-pattern="/^[0-9]$|^[1-9][0-9]$|^(100)$/" required>
                        <div ng-show="editForm.inputDescuentoProducto.$invalid" class="invalid-feedback">
                            Por favor introduce un número entero válido. Puede ser entre 0 y 100. </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputIdProducto" class="col-sm-2 col-form-label">Id producto: </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="btn-secondary btn" data-toggle="modal" data-target="#modalProducto">
                                    <i ng-class="iconService.getIcon('buscar')"></i>
                                </div>
                            </div>
                            <input name="inputIdProducto"
                                ng-class="{ 'is-valid' : editForm.inputIdProducto.$valid && editForm.inputIdProducto.$dirty , 'is-invalid' : editForm.inputIdProducto.$invalid && editForm.inputIdProducto.$dirty}"
                                type="text" class="form-control" id="inputIdProducto" ng-change="lookupProducto()"
                                placeholder="Id producto" ng-model="entity.producto.id" ng-minlength="1"
                                ng-maxlength="255" ng-model-options="{ debounce: 1000 }" required>
                            <div class="input-group-append">
                                <div class="btn-secondary btn" role="alert">
                                    {{entity.producto.nombre}}
                                </div>
                            </div>
                            <div ng-show="editForm.inputIdProducto.$invalid" class="invalid-feedback">
                                Por favor introduce un número entero válido. </div>
                        </div>
                    </div>
                    <productoselection class="modal fade" id="modalProducto" obj="entity.producto">
                    </productoselection>
                </div>

                <div class="form-group row">
                    <label for="inputIdFactura" class="col-sm-2 col-form-label">Id factura: </label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="btn-secondary btn" data-toggle="modal" data-target="#modalFactura">
                                    <i ng-class="iconService.getIcon('buscar')"></i>
                                </div>
                            </div>
                            <input name="inputIdFactura"
                                ng-class="{ 'is-valid' : editForm.inputIdFactura.$valid && editForm.inputIdFactura.$dirty , 'is-invalid' : editForm.inputIdFactura.$invalid && editForm.inputIdFactura.$dirty}"
                                type="text" class="form-control" id="inputIdFactura" ng-change="lookupFactura()"
                                placeholder="Id factura" ng-model="entity.factura.id" ng-minlength="1"
                                ng-maxlength="255" ng-model-options="{ debounce: 1000 }" required>
                            <div class="input-group-append">
                                <div class="btn-secondary btn" role="alert">
                                    {{entity.factura.usuario.nombre}} {{entity.factura.usuario.apellido1}}
                                    {{entity.factura.usuario.apellido2}} ({{entity.factura.fecha}})
                                </div>
                            </div>
                            <div ng-show="editForm.inputIdFactura.$invalid" class="invalid-feedback">
                                Por favor introduce un número entero válido. </div>
                        </div>
                    </div>
                    <facturaselection class="modal fade" id="modalFactura" obj="entity.factura">
                    </facturaselection>
                </div>

                <div class="form-group row text-right">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="editForm.$invalid||editForm.$pristine" ng-click="save()">Guardar</button>
                        <a type="button" class="btn btn-primary" href="home">Ir a home</a>
                        <button type="button" class="btn btn-primary" ng-click="back()">
                            Volver
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-include src="'include/footer.html'"></ng-include>