<ng-include src="'include/menu.html'"></ng-include>

<ng-include src="'include/header.html'"></ng-include>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <form name="loginForm" novalidate>

        <div class="form-group form-row">
          <label for="txtLogin">Login</label>
          <input name="txtLogin" type="text" class="form-control"
            ng-class="{ 'is-valid' : loginForm.txtLogin.$valid && loginForm.txtLogin.$dirty , 'is-invalid' : loginForm.txtLogin.$invalid && loginForm.txtLogin.$dirty}"
            ng-pattern="/^[A-Za-z0-9-]{5,20}$/" id="txtLogin" ng-model="txtLogin" ng-minlength="5" ng-maxlength="20"
            placeholder="Introduce tu nombre de usuario" required />
          <div ng-show="loginForm.txtLogin.$invalid" class="invalid-feedback">
            Por favor introduce un login de 5 a 20 caracteres. Puedes usar combinaciones de caracteres
            en mayúsculas y minúsculas sin acentos, dígitos y guiones. </div>
        </div>

        <div class="form-group form-row">
          <label for="txtPassword">Password</label>
          <input name="txtPassword" type="password" class="form-control"
            ng-class="{ 'is-valid' : loginForm.txtPassword.$valid && loginForm.txtPassword.$dirty , 'is-invalid' : loginForm.txtPassword.$invalid && loginForm.txtPassword.$dirty}"
            ng-pattern="/^[A-Za-z0-9-]{6,20}$/" id="txtPassword" ng-model="txtPassword" ng-minlength="6"
            ng-maxlength="20" placeholder="Introduce tu password" required />
          <div ng-show="loginForm.txtPassword.$invalid" class="invalid-feedback">
            Por favor introduce un password de 6 a 20 caracteres. Puedes usar combinaciones de
            caracteres en mayúsculas y minúsculas sin acentos, dígitos y guiones. </div>
        </div>
      </form>
      <div class="text-center mb-4">
        <button type="submit" ng-click="login()" class="btn btn-danger ml-1" ng-disabled="loginForm.$invalid">
          <i class="fas fa-key"></i> Login
        </button>
        <button ng-click="reset()" class="btn btn-info ml-1">
          <i class="fas fa-brush"></i> Reset
        </button>
      </div>

      <div class="text-center mb-4">
        <button type="submit" ng-click="auto('admin')" class="btn btn-danger ml-1" >
          <i class="fas fa-key"></i> Admin
        </button>

        <button type="submit" ng-click ="auto('carla')" class="btn btn-danger ml-1">
          <i class="fas fa-key"></i> Carla
        </button>
        <button type="submit" ng-click="auto('fernando')" class="btn btn-danger ml-1">
          <i class="fas fa-key"></i> Fernando
        </button>

      </div>

    </div>
  </div>

</div>

<ng-include src="'include/status.html'"></ng-include>

<ng-include src="'include/footer.html'"></ng-include>
