<ng-include src="'include/menu.html'"></ng-include>

<ng-include src="'include/header.html'"></ng-include>

<ng-include src="'include/status.html'"></ng-include>


<div class="container-fluid px-5" ng-show="status.success==''&&status.error==''">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <nav aria-label="rpp">
          <ul class="pagination">
            <li class="page-item" ng-class="{'active':(rpp==10)}">
              <a class="page-link"
                href="{{entity}}/{{subEntity}}/{{page}}/10/{{orderField}}/{{orderDirection}}/{{producto}}" tabindex="-1"
                aria-disabled="true">10</a>
            </li>
            <li class="page-item" ng-class="{'active':(rpp==50)}">
              <a class="page-link"
                href="{{entity}}/{{subEntity}}/{{page}}/50/{{orderField}}/{{orderDirection}}/{{producto}}" tabindex="-1"
                aria-disabled="true">50</a>
            </li>
            <li class="page-item" ng-class="{'active':(rpp==100)}">
              <a class="page-link"
                href="{{entity}}/{{subEntity}}/{{page}}/100/{{orderField}}/{{orderDirection}}/{{producto}}"
                tabindex="-1" aria-disabled="true">100</a>
            </li>
          </ul>
        </nav>
        <nav aria-label="pagination">
          <ul class="pagination">
            <li class="page-item" ng-class="{'active':(page==p)}" ng-disabled="p == '...'"
              ng-repeat="p in botonera track by $index">
              <a class="page-link" ng-if="p != '...'"
                href="{{entity}}/{{subEntity}}/{{p}}/{{rpp}}/{{orderField}}/{{orderDirection}}/{{producto}}">{{p}}</a>
              <span class="page-link" ng-if="p == '...'">{{p}}</span>
            </li>
          </ul>
        </nav>
      </div>
      <table class="table table-striped table-sm">
        <tr>
          <th class="text-center">
            Id<br>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/id/asc"><i ng-class="iconService.getIcon('flechaUp')"></i></a>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/id/desc"><i ng-class="iconService.getIcon('flechaDown')"></i></a>
          </th>
          <th class="text-center">
            Cantidad<br>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/cantidad/asc"><i
                ng-class="iconService.getIcon('flechaUp')"></i></a>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/cantidad/desc"><i
                ng-class="iconService.getIcon('flechaDown')"></i></a>
          </th>
          <th class="text-center">
            Precio<br>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/precio/asc"><i
                ng-class="iconService.getIcon('flechaUp')"></i></a>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/precio/desc"><i
                ng-class="iconService.getIcon('flechaDown')"></i></a>
          </th>
          <th class="text-center">
            Producto<br>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/producto/asc"><i
                ng-class="iconService.getIcon('flechaUp')"></i></a>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/producto/desc"><i
                ng-class="iconService.getIcon('flechaDown')"></i></a>
          </th>
          <th class="text-center">
            Usuario<br>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/usuario/asc"><i
                ng-class="iconService.getIcon('flechaUp')"></i></a>
            <a href="{{entity}}/plist/{{page}}/{{rpp}}/usuario/desc"><i
                ng-class="iconService.getIcon('flechaDown')"></i></a>
          </th>
          <th style="width: 5%" class="text-center">
            herramientas
          </th>
        </tr>
        <tr ng-repeat="fila in entities.content">
          <td class="text-center">{{fila.id}}</td>
          <td class="text-center ">{{fila.cantidad}} </td>
          <td class="text-center">{{fila.precio}}</td>
          <td class="text-center font-weight-bold"> <a
              href="producto/view/{{fila.producto.id}}">{{fila.producto.nombre}} </a></td>
          <td class="text-center font-weight-bold"><a href="usuario/view/{{fila.usuario.id}}">{{fila.usuario.nombre}}
              {{fila.usuario.apellido1}} {{fila.usuario.apellido2}} </a></td>
          <td>
            <div class="row">
              <div class="col-md-12 text-left">
                <div class="btn-group" role="group" aria-label="Herramientas">
                  <a class="btn btn-success" href="{{entity}}/view/{{fila.id}}"><i
                      ng-class="iconService.getIcon('viewHerramientas')"></i></a>
                  <a class="btn btn-primary" href="{{entity}}/edit/{{fila.id}}"><i
                      ng-class="iconService.getIcon('editHerramientas')"></i></a>
                  <a class="btn btn-danger" href="{{entity}}/remove/{{fila.id}}"><i
                      ng-class="iconService.getIcon('removeHerramientas')"></i></a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-include src="'include/footer.html'"></ng-include>