<ng-include src="'include/menu.html'"></ng-include>

<ng-include src="'include/header.html'"></ng-include>

<ng-include src="'include/status.html'"></ng-include>

<div class="container" ng-show="status.success==''&&status.error==''">
  <div class="row">
    <div class="col text-center">

      <table class="table table-striped">

        <tr>
          <th>Usuario</th>
          <td>{{entityData.usuario.nombre}} {{entityData.usuario.apellido1}} {{entityData.usuario.apellido2}}</td>
        </tr>
        <tr>
          <th>Producto</th>
          <td>{{entityData.producto.nombre}}</td>
        </tr>
        <tr>
          <th style="vertical-align:middle">Imagen</th>
          <td class="text-center"><img src="http://localhost:8082/file/{{entityData.producto.imagen}}" height="50" />
          </td>
        </tr>
        <tr>
          <th>Id</th>
          <td>{{entityData.id}}</td>
        </tr>
        <tr>
          <th>Cantidad</th>
          <td>{{entityData.cantidad}}</td>
        </tr>
        <tr>
          <th>Precio</th>
          <td>{{entityData.precio}}</td>
        </tr>


      </table>
      <div class="control-group text-right">
        <div class="controls">
          <h3>¿Está seguro de que desea borrar el registro?</h3>
          <a class="btn btn-danger" ng-click="remove()">Si</a>
          <a class="btn btn-info" ng-click="back()">No</a>
          <a type="button" class="btn btn-primary" href="home">Ir a home</a>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-include src="'include/footer.html'"></ng-include>