<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TROLLEYES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item" ng-class="{'active' : (controller=='HomeController')}">
        <a class="nav-link" href="home"><i class="fas fa-home"></i> Home</a>
      </li>

      <ul class="navbar-nav mr-auto">


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            ng-class="{'active':(controller=='usuarioPlistController'||controller=='usuarioNewController'||controller=='usuarioFillController')}"
            ng-if="true" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='usuarioPlistController')}"
              href="usuario/plist/1/10"><i class="fas fa-stream"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='usuarioNewController')}"
              href="usuario/new"><i class="far fa-file"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='usuarioFillController')}"
              href="usuario/fill"><i class="fas fa-random"></i> Creación
              aleatoria</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ng-if="true" ng-class="{'active':(controller=='tipousuarioPlistController')}"
            href="tipousuario/plist/1/10"><i class="fas fa-stream"></i> Tipo de usuarios</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            ng-class="{'active':(controller=='productoPlistController'||controller=='productoNewController'||controller=='productoFillController')}"
            ng-if="true" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Producto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='productoPlistController')}"
              href="producto/plist/1/10"><i class="fas fa-stream"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='productoNewController')}"
              href="producto/new"><i class="far fa-file"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='productoFillController')}"
              href="producto/fill"><i class="fas fa-random"></i> Creación
              aleatoria</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            ng-class="{'active':(controller=='tipoproductoPlistController'||controller=='tipoproductoNewController'||controller=='tipoproductoFillController')}"
            ng-if="true" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Tipo producto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='tipoproductoPlistController')}"
              href="tipoproducto/plist/1/10"><i class="fas fa-stream"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='tipoproductoNewController')}"
              href="tipoproducto/new"><i class="far fa-file"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='tipoproductoFillController')}"
              href="tipoproducto/fill"><i class="fas fa-random"></i> Creación
              aleatoria</a>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            ng-class="{'active':(controller=='compraPlistController'||controller=='compraNewController'||controller=='compraFillController')}"
            ng-if="true" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Compra
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='compraPlistController')}"
              href="compra/plist/1/10"><i class="fas fa-stream"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='compraNewController')}"
              href="compra/new"><i class="far fa-file"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='compraFillController')}"
              href="compra/fill"><i class="fas fa-random"></i> Creación
              aleatoria</a>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            ng-class="{'active':(controller=='facturaPlistController'||controller=='facturaNewController'||controller=='facturaFillController')}"
            ng-if="true" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Factura
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='facturaPlistController')}"
              href="factura/plist/1/10"><i class="fas fa-stream"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='facturaNewController')}"
              href="factura/new"><i class="far fa-file"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='facturaFillController')}"
              href="factura/fill"><i class="fas fa-random"></i> Creación
              aleatoria</a>
        </li>

      </ul>

      <li class="nav-item ml-auto" ng-class="{'active' : (controller=='LoginController')}"
        ng-show="datosDeSesion.status!=200">
        <a class="nav-link" href="login"><i class="fas fa-user-friends"></i> Login</a>
      </li>

      <li class="nav-item  ml-auto" ng-class="{'active' : (controller=='ProfileController')}"
        ng-show="datosDeSesion.status==200">
        <a class="nav-link" href="#"><i class="fas fa-user"></i> Usuario: {{datosDeSesion.data.login}}</a>
      </li>

      <li class="nav-item" ng-class="{'active' : (controller=='LogoutController')}" ng-show="datosDeSesion.status==200">
        <a class="nav-link" href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>

    </ul>
  </div>
</nav>