<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TROLLEYES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item" ng-class="{'active' : (entity=='home')}">
        <a class="nav-link" href="home"><i ng-class="iconService.getIcon('home')"></i> Home</a>
      </li>

      <ul class="navbar-nav mr-auto" ng-if="datosDeSesion.status==200">


        <li class="nav-item dropdown" ng-if="datosDeSesion.data.tipousuario.id==1">
          <a class="nav-link dropdown-toggle" ng-class="{'active':(entity=='usuario')}" ng-if="true" href=""
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
              ng-class="iconService.getIcon('usuario')"></i>
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='usuario'&&operation=='plist')}"
              href="usuario/plist/1/10"><i ng-class="iconService.getIcon('listadoMenu')"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='usuario'&&operation=='new')}"
              href="usuario/new"><i ng-class="iconService.getIcon('newMenu')"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='usuario'&&operation=='fill')}"
              href="usuario/fill"><i ng-class="iconService.getIcon('fill')"></i> Creación
              aleatoria</a>
        </li>

        <li class="nav-item" ng-if="datosDeSesion.data.tipousuario.id==1">
          <a class="nav-link" ng-if="true" ng-class="{'active':(entity=='tipousuario')}"
            href="tipousuario/plist/1/10"><i ng-class="iconService.getIcon('tipousuario')"></i> Tipo de usuarios</a>
        </li>

        <li class="nav-item dropdown" ng-if="datosDeSesion.data.tipousuario.id==1">
          <a class="nav-link dropdown-toggle" ng-class="{'active':(entity=='producto')}" ng-if="true" href=""
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
              ng-class="iconService.getIcon('producto')"></i>
            Producto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='producto'&&operation=='plist')}"
              href="producto/plist/1/10"><i ng-class="iconService.getIcon('listadoMenu')"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='producto'&&operation=='new')}"
              href="producto/new"><i ng-class="iconService.getIcon('newMenu')"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='producto'&&operation=='fill')}"
              href="producto/fill"><i ng-class="iconService.getIcon('fill')"></i> Creación
              aleatoria</a>
        </li>

        <li class="nav-item dropdown" ng-if="datosDeSesion.data.tipousuario.id==1">
          <a class="nav-link dropdown-toggle" ng-class="{'active':(entity=='tipoproducto')}" ng-if="true" href=""
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
              ng-class="iconService.getIcon('tipoproducto')"></i>
            Tipo producto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='tipoproducto'&&operation=='plist')}"
              href="tipoproducto/plist/1/10"><i ng-class="iconService.getIcon('listadoMenu')"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='tipoproducto'&&operation=='new')}"
              href="tipoproducto/new"><i ng-class="iconService.getIcon('newMenu')"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='tipoproducto'&&operation=='fill')}"
              href="tipoproducto/fill"><i ng-class="iconService.getIcon('fill')"></i> Creación
              aleatoria</a>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ng-class="{'active':(entity=='compra')}" ng-if="true" href=""
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
              ng-class="iconService.getIcon('compra')"></i>
            Compra
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='compra'&&operation=='plist')}"
              href="compra/plist/1/10"><i ng-class="iconService.getIcon('listadoMenu')"></i> Listado</a>
            <a class="dropdown-item" ng-if="datosDeSesion.data.tipousuario.id==1"
              ng-class="{'active':(entity=='compra'&&operation=='new')}" href="compra/new"><i
                ng-class="iconService.getIcon('newMenu')"></i>
              Nuevo</a>
            <a class="dropdown-item" ng-if="datosDeSesion.data.tipousuario.id==1"
              ng-class="{'active':(entity=='compra'&&operation=='fill')}" href="compra/fill"><i
                ng-class="iconService.getIcon('fill')"></i> Creación
              aleatoria</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ng-class="{'active':(entity=='factura')}" ng-if="true" href=""
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
              ng-class="iconService.getIcon('factura')"></i>
            Factura
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(entity=='factura'&&operation=='plist')}"
              href="factura/plist/1/10"><i ng-class="iconService.getIcon('listadoMenu')"></i> Listado</a>
            <a class="dropdown-item" ng-if="datosDeSesion.data.tipousuario.id==1"
              ng-class="{'active':(entity=='factura'&&operation=='new')}" href="factura/new"><i
                ng-class="iconService.getIcon('newMenu')"></i>
              Nuevo</a>
            <a class="dropdown-item" ng-if="datosDeSesion.data.tipousuario.id==1"
              ng-class="{'active':(entity=='factura'&&operation=='fill')}" href="factura/fill"><i
                ng-class="iconService.getIcon('fill')"></i> Creación
              aleatoria</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ng-class="{'active':(entity=='reports')}" href="reports"><i
              ng-class="iconService.getIcon('reports')"></i> Informes</a>
        </li>

      </ul>

      <li class="nav-item ml-auto" ng-class="{'active' : (operation=='login')}" ng-if="datosDeSesion.status!=200">
        <a class="nav-link" href="login"><i ng-class="iconService.getIcon('login')"></i> Login</a>
      </li>

      <li class="nav-item" ng-class="{'active' : (operation=='profile')}" ng-if="datosDeSesion.status==200">
        <a class="nav-link" href="usuario/view/{{datosDeSesion.data.id}}"><i
            ng-class="iconService.getIcon('usuario')"></i> Usuario: {{datosDeSesion.data.login}}</a>
      </li>

      <li class="nav-item" ng-class="{'active' : (operation=='logout')}" ng-if="datosDeSesion.status==200">
        <a class="nav-link" href="logout"><i ng-class="iconService.getIcon('logout')"></i> Logout</a>
      </li>

      <li class="nav-item" ng-class="{'active' : (entity=='carrito'&&operation=='plist')}"
        ng-if="datosDeSesion.data.tipousuario.id==2">
        <a class="nav-link" href="carrito/plist/1/10"><i ng-class="iconService.getIcon('carrito')"></i>
          {{datosDeSesion.data.carritos}}</a>
      </li>

    </ul>
  </div>
</nav>