<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TROLLEYES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item" ng-class="{'active' : (controller=='HomeController')}">
        <a class="nav-link" href="home"><i class="fas fa-home"></i> Home</a>
      </li>

      <!--- EJEMPLO DE ITEM DE MENÚ -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            ng-class="{'active':(controller=='tipoproductoPlistController'||controller=='tipoproductoNewController'||controller=='tipoproductoFillController')}"
            ng-if="true" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Tipo producto
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='tipo_productoPlistController')}"
              href="tipo_producto/plist/1/10"><i class="fas fa-stream"></i> Listado</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='tipo_productoNewController')}"
              href="tipo_producto/new"><i class="far fa-file"></i> Nuevo</a>
            <a class="dropdown-item" ng-if="true" ng-class="{'active':(controller=='tipo_productoFillController')}"
              href="tipo_producto/fill"><i class="fas fa-random"></i> Creación
              aleatoria</a>
        </li>
      </ul>

      <li class="nav-item ml-auto" ng-class="{'active' : (controller=='LoginController')}"
        ng-show="datosDeSesion.status!=200">
        <a class="nav-link" href="login"><i class="fas fa-user-friends"></i> Login</a>
      </li>

      <li class="nav-item  ml-auto" ng-class="{'active' : (controller=='ProfileController')}"
        ng-show="datosDeSesion.status==200">
        <a class="nav-link" href="#"><i class="fas fa-user"></i> Usuario: {{datosDeSesion.data.login}}</a>
      </li>

      <li class="nav-item" ng-class="{'active' : (controller=='LogoutController')}" ng-show="datosDeSesion.status==200">
        <a class="nav-link" href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>

    </ul>
  </div>
</nav>