<ng-include src="'include/menu.html'"></ng-include>

<ng-include src="'include/header.html'"></ng-include>

<ng-include src="'include/status.html'"></ng-include>

<div class="container" ng-show="status.success==''&&status.error==''">
  <div class="row">
    <div class="col">

      <form name="editForm" novalidate>
        <div class="form-group row">
          <label for="inputId" class="col-sm-2 col-form-label">Id: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputId" placeholder="Id" ng-model="entity.id" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputDni" class="col-sm-2 col-form-label">DNI: </label>
          <div class="col-sm-10">
            <input name="inputDni"
              ng-class="{ 'is-valid' : editForm.inputDni.$valid && editForm.inputDni.$dirty , 'is-invalid' : editForm.inputDni.$invalid && editForm.inputDni.$dirty}"
              type="text" class="form-control" id="inputDni" placeholder="DNI" ng-model="entity.dni"
              ng-pattern="/^[0-9]{8}[A-Z]{1}$/" required>
            <div ng-show="editForm.inputDni.$invalid" class="invalid-feedback">
              Por favor introduce un DNI correcto. Usando los 8 números y la letra al final. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputNombre" class="col-sm-2 col-form-label">Nombre: </label>
          <div class="col-sm-10">
            <input name="inputNombre"
              ng-class="{ 'is-valid' : editForm.inputNombre.$valid && editForm.inputNombre.$dirty , 'is-invalid' : editForm.inputNombre.$invalid && editForm.inputNombre.$dirty}"
              type="text" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="entity.nombre"
              ng-pattern="/^[A-Z][0-9a-záéíóúüèòàñA-Z\s]*$/" ng-minlength="3" ng-maxlength="255" required>
            <div ng-show="editForm.inputNombre.$invalid" class="invalid-feedback">
              Por favor introduce un nombre de 3 a 255 caracteres. Puedes usar combinaciones de
              caracteres en mayúsculas y minúsculas, con dígitos. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputApellido1" class="col-sm-2 col-form-label">Apellido 1: </label>
          <div class="col-sm-10">
            <input name="inputApellido1"
              ng-class="{ 'is-valid' : editForm.inputApellido1.$valid && editForm.inputApellido1.$dirty , 'is-invalid' : editForm.inputApellido1.$invalid && editForm.inputApellido1.$dirty}"
              type="text" class="form-control" id="inputApellido1" placeholder="Apellido 1" ng-model="entity.apellido1"
              ng-pattern="/^[A-Z][0-9a-záéíóúüèòàñA-Z\s]*$/" ng-minlength="3" ng-maxlength="255" required>
            <div ng-show="editForm.inputApellido1.$invalid" class="invalid-feedback">
              Por favor introduce un apellido de 3 a 255 caracteres. Puedes usar combinaciones de
              caracteres en mayúsculas y minúsculas, con dígitos. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputApellido1" class="col-sm-2 col-form-label">Apellido 2: </label>
          <div class="col-sm-10">
            <input name="inputApellido2"
              ng-class="{ 'is-valid' : editForm.inputApellido2.$valid && editForm.inputApellido2.$dirty , 'is-invalid' : editForm.inputApellido2.$invalid && editForm.inputApellido2.$dirty}"
              type="text" class="form-control" id="inputApellido2" placeholder="Apellido 2" ng-model="entity.apellido2"
              ng-pattern="/^[A-Z][0-9a-záéíóúüèòàñA-Z\s]*$/" ng-minlength="3" ng-maxlength="255" required>
            <div ng-show="editForm.inputApellido2.$invalid" class="invalid-feedback">
              Por favor introduce un apellido de 3 a 255 caracteres. Puedes usar combinaciones de
              caracteres en mayúsculas y minúsculas, con dígitos. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputLogin" class="col-sm-2 col-form-label">Login: </label>
          <div class="col-sm-10">
            <input name="inputLogin"
              ng-class="{ 'is-valid' : editForm.inputLogin.$valid && editForm.inputLogin.$dirty , 'is-invalid' : editForm.inputLogin.$invalid && editForm.inputLogin.$dirty}"
              type="text" class="form-control" id="inputLogin" placeholder="Login" ng-model="entity.login"
              ng-pattern="/^[0-9a-záéíóúüèòàñA-Z]*$/" ng-minlength="6" ng-maxlength="255" required>
            <div ng-show="editForm.inputLogin.$invalid" class="invalid-feedback">
              Por favor introduce un login de 3 a 255 caracteres. Puedes usar combinaciones de
              caracteres en mayúsculas y minúsculas, con dígitos. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email: </label>
          <div class="col-sm-10">
            <input name="inputEmail"
              ng-class="{ 'is-valid' : editForm.inputEmail.$valid && editForm.inputEmail.$dirty , 'is-invalid' : editForm.inputEmail.$invalid && editForm.inputEmail.$dirty}"
              type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="entity.email"
              ng-pattern="/^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
            <div ng-show="editForm.inputEmail.$invalid" class="invalid-feedback">
              Por favor introduce una correo correcto. Puedes usar combinaciones de
              caracteres en mayúsculas y minúsculas, con dígitos. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputDescuento" class="col-sm-2 col-form-label">Descuento: </label>
          <div class="col-sm-10">
            <input name="inputDescuento"
              ng-class="{ 'is-valid' : editForm.inputDescuento.$valid && editForm.inputDescuento.$dirty , 'is-invalid' : editForm.inputDescuento.$invalid && editForm.inputDescuento.$dirty}"
              type="text" class="form-control" id="inputDescuento" placeholder="Descuento" ng-model="entity.descuento"
              ng-pattern="/^[0-9]{1,3}$/" ng-minlength="1" ng-maxlength="3" required>
            <div ng-show="editForm.inputDescuento.$invalid" class="invalid-feedback">
              Por favor introduce descuento correcto usando solo números. </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputTipousuario" class="col-sm-2 col-form-label">Tipo usuario: </label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="inputTipousuario" placeholder="id_tipousuario" 
            ng-model="entity.tipousuario.id" disabled>
          </div>
        </div>

        <div class="form-group row text-right">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success" ng-disabled="editForm.$invalid||editForm.$pristine"
              ng-click="save()">Guardar</button>
            <a type="button" class="btn btn-primary" href="home">Ir a home</a>
            <button type="button" class="btn btn-primary" ng-click="back()">
              Volver
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-include src="'include/footer.html'"></ng-include>