<div class="row justify-content-start">
    <div class="col">
        <label for="inputFecha">Fecha inicial: </label>
        <md-datepicker id="inputFecha1" ng-model="c.date1" md-placeholder="Enter date" name="date2">
        </md-datepicker>
    </div>
    <div class="col">
        <label for="inputFecha">Fecha final: </label>
        <md-datepicker id="inputFecha2" ng-model="c.date2" md-placeholder="Enter date" name="date1">
        </md-datepicker>
    </div>
</div>
DEBUG:<br>
{{c.date1}}<br>
{{c.date2}}<br>